.currency-overview-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    margin: auto;
    padding: 10px 0;
    border-bottom: 1px solid black;

    &.header {
        font-weight: 700;
    }
    .lds-ellipsis {
        margin: auto;
    }
    .currency-chart {
        max-width: 200px;
        min-width: 150px;
        max-height: 100px;
        min-height: 75px;
        width: 30vw;
        height: 15vw;
    }
}