@import './utils.scss';

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

  @media (max-width: $desktop-small) {
		font-size: $baseFs - 2;
	}
  @media (max-width: $mobile) {
		font-size: $baseFs - 3;
	}
  @media (max-width: $mobile-small) {
		font-size: $baseFs - 4;
	}
}
body {
  margin: 10px;
}

h1 {
  font-size: 3em;
  font-weight: 900;
}
h2 {
  font-size: 2em;
  font-weight: 700;
}
h3 {
  font-size: 1.5em;
  font-weight: 500;
}

@media (max-width: $mobile) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1em;
  }
}