// variables
$baseFs: 16px;
$mobile-small: 474px;
$mobile: 767px;
$desktop-small: 1199px;

/// Calculate rem value from px size
/// @param {Number} $size - Number in px size
/// @param {Number} $baseVal - Base font size, according to breakpoint
/// @return {Number}rem - value in rem. Eg: 10rem
@function calc-rem($size, $baseVal: $baseFs) {
	$base: $baseVal / 1px; // remove px unit

	@return #{$size / $base}rem;
}