@import '../../styles/utils.scss';

.timespans-selector {
    button {
        position: relative;
        border: none;
        background: transparent;
        color: black;
        font-weight: 700;
        border-radius: 3px;
        padding: 2px 20px;
        cursor: pointer;
        margin: 3px;

        @media (max-width: $mobile-small) {
            padding: 2px 1em;
        }

        &:hover {
            background: rgb(196, 196, 196);
        }

        &.active {
            color: white;
            background: black;
        }
        &::after {
            content: '';
            position: absolute;
            right: -3px;
            height: 50%;
            top: 50%;
            transform:translateY(-50%);
            border-right: 1px solid grey;
        }
        &:last-of-type {
            &::after {
                display: none;
            }
        }
    }
}